 <style>
 *{
           margin:0;
           padding:0;
           box-sizing: border-box; 
        }
        body{
            background: linear-gradient(#23a6d5,#23d5ab);
            height:100vh;
        }
        .header{
          color:#fff;
          font-size:32px;  
          margin:20px 0;
          text-align:center;
        }
        .wrapper{
            width:500px;
            margin:0 auto;
            position:relative;
        }
        .container{
            background-color: rgba(255,255,255,0.6);
            padding:30px;
            border-radius:8px;

        }
        textarea{
            width:100%;
            resize:none;
            border:3px solid #23a6d5;
            outline:none;
            color:#0e101a;
            border-radius:5px;

        }
        .count{
            width:60%;
            padding:30px;
            border-radius:5px;
            text-align:center;
            display:flex;
            justify-content: space-around;
            background-color:#000;
            position:absolute;
            bottom:-30px;
            left:50%;
            transform:translateX(-50%);
        }
        .count h4{
            color:white;
            font-size:28px;
        }
        .count p{
            color:#a0a0c0;
        }
</style>